body {
  background: #373B44;  /* fallback for old browsers */
  background: linear-gradient(to top, #e4e5e6, #00416a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
}

.container {
  overflow: hidden;
}

.heading-button {
  text-align: center;
  color: white;
  padding-top: 100px;
  transition: 1s;
  font-size: 1.5rem;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.form-div {
  padding: 16px;
  background-color: rgb(176, 176, 176);
  border-radius: 8px;
  position: absolute;
  right: 1000px;
  width: 480px;
  transition: transform 0.3s;
  margin-bottom: 80px;
  z-index: 1000;
}

.edit-form-div {
  z-index: 1000;
  padding: 16px;
  background-color: rgb(176, 176, 176);
  border-radius: 8px;
  position: absolute;
  width: 480px;
  right: 1000px;
  transition: transform 0.3s;
  margin-bottom: 80px;
}

.btn {
  border-radius: 8px;
  padding: 4px 12px 4px 12px;
  background-color: #002135;
  color: white;
  font-weight: 700;
  width: 96px;
}

.edit-title-div {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.edit-author-div {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.edit-number-of-pages-div {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.edit-form-input {
  border-radius: 8px;
  height: 24px;
}

.edit-exit {
  position: absolute;
  top: 2px;
  right: 5px;
}


.title-div {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.author-div {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.number-of-pages-div {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.form-input {
  border-radius: 8px;
  height: 24px;
}

.exit {
  position: absolute;
  top: 2px;
  right: 5px;
}

.form {
  margin: 16px 0px;
}

.edit-submit-btn {
  padding: 4px 16px 4px 16px;
  border-radius: 8px;
  color: white;
  background-color: #002135;
  font-weight: 700;
}

.submit-btn {
  padding: 4px 16px 4px 16px;
  border-radius: 8px;
  color: white;
  background-color: #002135;
  font-weight: 700; 
}

.add-book {
  background-color: #002135;
  color: white;
  padding: 4px 16px 4px 16px;
  font-weight: 700;
  border-radius: 8px;
  scale: 1.25;
}


.edit-checkbox-submit-div {
  display: flex;
  justify-content: space-evenly;
}

.edit-checkbox-label {
  align-self: center;
}

.checkbox-submit-div {
  display: flex;
  justify-content: space-evenly;
}

.checkbox-label {
  align-self: center;
}

.ul-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  list-style-type: none;
  justify-content: space-evenly;  
}

.list-item {
  padding: 16px;
  background-color: #dee2e6;
  border-radius: 16px;
  text-align: center;
  min-width: 300px;
  transition: 0.5s;
}

.list-item:hover {
  transition: 0.5s;
  scale: 1.1;
}

.buttons-div {
  display: flex;
  justify-content: space-between;
}

.books-list {
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
}

button:hover {
  scale: 1.05;
}